.card{
    width: 260px;
    height: 380px;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    transition: transform 200ms ease;
}

.card:hover{
    transform: scale(1.05);
    transition: transform 200ms ease;
}

.card-header{

    height: 120px;
    display: flex;
    justify-content: center;

}

/**********STYLE-TYPEPOKEMON-CARD**************/

/******GRASS******/
.card-grass{
    border: 4px solid #afdaab;
}
.bg-header-grass{
    background: linear-gradient(178.92deg, #7EC6C5 0.92%, #ABDAC6 47.96%, #CAE099 99.08%);
}
/******FIRE******/
.card-fire{
    border: 4px solid #E6901E;
}
.bg-header-fire{
    background:  linear-gradient(176.37deg, #F96D6F -32.26%, #E35825 22.55%, #E8AE1B 125.72%);
}
/******WATER******/
.card-water{
    border: 4px solid #1479FB;
}
.bg-header-water{
    background:  linear-gradient(179.57deg, #133258 -70.14%, #1479FB 56.16%, #82B2F1 214.85%);
}
/******BUG******/
.card-bug{
    border: 4px solid #4AB648;
}
.bg-header-bug{
    background:  linear-gradient(177.56deg, #62DB60 -58.92%, #3BB039 16.57%, #AAFFA8 209.53%);
}
/******NORMAL******/
.card-normal{
    border: 4px solid #735259;
}
.bg-header-normal{
    background:  linear-gradient(181.51deg, #735259 -6.44%, #BC6B7C 121.95%, #7C3F4C 186.11%);
}
/******ELECTRIC******/
.card-electric{
    border: 4px solid #fff200;
}
.bg-header-electric{
    background:  linear-gradient(181.51deg, #fff200 -6.44%, #ebb916 121.95%, #9e0505 186.11%);
}
/******GASTLY******/
.card-ghost{
    border: 4px solid #454AA8;
}
.bg-header-ghost{
    background:  linear-gradient(177.03deg, #323569 -11.97%, #454AA8 57.49%, #787DDA 135.64%);
}
/******DARK******/
.card-dark{
    border: 4px solid #0D1211;
}
.bg-header-dark{
    background:  linear-gradient(177.03deg, #030706 -11.97%, #0D1211 57.49%, #5A5E5D 135.64%);
}
/******POISON******/
.card-poison{
    border: 4px solid #A564E3;
}
.bg-header-poison{
    background:  linear-gradient(177.03deg, #5B3184 -11.97%, #A564E3 71.28%, #CE9BFF 135.64%);
}
/******POISON******/
.card-ice{
    border: 4px solid #6FBEDF;
}
.bg-header-ice{
    background:  linear-gradient(177.03deg, #6FBEDF -11.97%, #64CBF5 47.77%, #BDEBFE 136.72%);
}
/******STEAL******/
.card-steel{
    border: 4px solid #728881;
}
.bg-header-steel{
    background:  linear-gradient(179.75deg, #5E736C -19.96%, #728881 43.67%, #A8A8A8 138.4%);
}
/******DRAGON******/
.card-dragon{
    border: 4px solid #728881;
}
.bg-header-dragon{
    background:   linear-gradient(176.37deg, #ff0004 -32.26%, #ff9900 22.55%, #e8811b 125.72%);
}
/******ROCK******/
.card-rock{
    border: 4px solid #8D8D94;
}
.bg-header-rock{
    background: linear-gradient(177.03deg, #7E7E7E -11.97%, #8D8D94 57.49%, #D3D3D3 135.64%);
}
/******FAIRY******/
.card-fairy{
    border: 4px solid #C23867;
}
.bg-header-fairy{
    background:linear-gradient(179.75deg, #971B45 -19.96%, #C23867 43.67%, #CD7D98 138.4%);
}
/******FIGTHTING******/
.card-fighting{
    border: 4px solid #F1613C;
}
.bg-header-fighting{
    background:linear-gradient(176.83deg, #96402A -8.78%, #F1613C 169.09%, #CB735D 242.33%);
}
/******PSYCHIC******/
.card-psychic{
    border: 4px solid #b417f7;
}
.bg-header-psychic{
    background:linear-gradient(176.83deg, #e603ff -8.78%, #30043f 169.09%, #180602 242.33%);
}
/******GROUND******/
.card-ground{
    border: 4px solid #b417f7;
}
.bg-header-ground{
    background:linear-gradient(176.83deg, #452b03 -8.78%, #cf7002 169.09%, #ff8001 242.33%);
}
/*******************************************/

.card-header img {
    position: absolute;
    height: 150px;
    top: 20px
}

.card-body {

    padding-top: 45px;
    background-color: white;
    height: 250px;

}

.title-pokemon{
    text-align: center;
    text-transform: capitalize;
}

.title-pokemon h2{
    font-size: 25px;
}

/******** TYPE *********/
.list-type-pokemon{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

    list-style: none;

    font-weight: bold;
}

.title-pokemon h3 {
    text-transform: capitalize;
    font-weight: 300;
}



/****** LIST STATF ********/

.list-stat{
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    margin-top: 20px;
    gap: 15px;
}

.barra-up{
    display: flex;
    gap: 50px;
    
}

.val-stat{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.val-num{
    text-align: center;
    width: 36px;
    font-weight: bold;
    font-size: 20px;
}

.val-txt{
    text-align: center;
    width: 36px;
    color: #9F9F9F;
    font-weight: 300;
    font-size: 12px;
}








